<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>context...</title>
</head>

<body>
    <h1>The Design</h1>

    <p>
        This website (the web application you are running) is structured as follows:
        
        <li> Backend is Django (Python)
        </li>
        <li> Postgres database holds the timeseries star data
        </li>
        <li> Tensor/Kiras is used for the machine learning models
        </li>
        <li> Client-side Javascript for charts
        </li>
        <li> The general layout is Boostrap
        </li>

    </p>

    <p>
        <img src="/static/ref05.jpg" alt="???">
    </p>

    references:
    <li>
        https://www.djangoproject.com/
    </li>
    <li>
        https://github.com/cwinsor/django_103_plasticc_and_ux
    </li>
    <li>
        https://github.com/cwinsor/django_102_pluralsight
    </li>


    <button onclick="closeWin()">Close</button>
    <script>
        function closeWin() {
            window.close();
        }
    </script>

</body>


</html>