<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>context...</title>
</head>

<body>
    <h1>A Variety of Approaches</h1>
    </p>
    <p>
        In a Kaggle competition each competitor takes their own approach.
        When the competition closes, many of the top entrants post their source code.
        Reviewing that code yields some interesting themes!
    </p>
<p>
    For our web app we chose Trotta (#14) and Boone (#1).
</p>
<p>
    <img src="/static/ref04.jpg" alt="???">

</p>
    reference:
    <li>
        https://github.com/cwinsor/kaggle_plasticc.git
    </li>
    <li>
        https://www.kaggle.com/c/PLAsTiCC-2018
    </li>

    <button onclick="closeWin()">Close</button>
    <script>
        function closeWin() {
            window.close();
        }
    </script>

</body>


</html>