<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>context...</title>
</head>

<body>
    <h1>PLAsTiCC and the Kaggle Dataset</h1>

    <p>
        The dataset comes from the Kaggle competition
        "Photometric LSST Astronomical Time Series Classification Challenge" (PLAsTiCC) [1].
        Held in late 2018, the competition was in preparation for first light of the
        Large Synoptic Survey Telescope (LSST) [2].
    </p>
    <p>
        LSST endeavors to detect <b>transients</b> - stars that are actively changing - and notify astronomers of
        their presence.
        Examples of transients are:
        <li>
            a Supernova that explodes over a 100 day period
        </li>
        <li>
            a Pulsar that flashes once every 12 hours
        </li>
        <li>
            a Lensing Event (a planet goes in front of a star) that occurs... occasionally!
        </li>

    </p>

    <p>

        Each night LSST will capture 20 Terabytes of data and and classify about 2.5 billion stars and galaxies. The goal is:
        <li>
            60 minutes (image capture to notification)
        </li>
    </p>
    <p>
        <b>
            It is a huge classification challenge!
        </b>
    </p>
    <p>

        <img src="/static/ref08.jpg" alt="???">
    </p>

    <p>

        References:
        <li>
            (1) https://arxiv.org/abs/1810.00001
        </li>
        <li>

            (2) https://www.lsst.org/

        </li>
    </p>

    <br>
    <button onclick="closeWin()">Close</button>
    <script>
        function closeWin() {
            window.close();
        }
    </script>

</body>


</html>