<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Why...</title>
</head>

<body>
    <h1>Why Make a Game?</h1>

    <p>
        The game demonstrates how Machine Learning can be integrated into a web application to enrich the user's experience.
    </p>
    <p>
        In the game the user is given a difficult task: classify a star using astronomical timeseries observations.
    </p>
    <p>
        "Experts" are on hand to offer advice. These experts are actually machine learning models developed
        from decades of research by leading astronomers
        using analysis on petabytes of star data. 
    </p>
    <p>
        Integrated into the flow of the game, the experts' recommendations are provided to the user in a natural and meaningful way.
        This helps the user make the classification, and thereby win the game !

    </p>
    <button onclick="closeWin()">Close</button>

    <script>

        function closeWin() {
            window.close();
        }
    </script>

</body>


</html>